.hero {
    background: url("../images/sportcar.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    width: 100%;
}

.postImg {
    max-width: 50%;
}